* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Young Serif", serif, "Times New Roman", Georgia;
}

:root {
  --white-color: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

body {
  min-height: 100dvh;
  margin: 0;
  line-height: 1.5;
  background-color: var(--Stone-100);

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 2rem 1rem;
  overflow-y: auto;
}

main {
  width: 100%;
  flex: 1 1 auto; /*Did not understand this flex property*/
  display: grid;
  place-items: center;
  padding: 2rem 1rem;
}

.card {
  width: clamp(18rem, 90vw, 48rem);
  max-width: 90vw;
  background-color: var(--white-color);
  padding: clamp(1rem, 2.5vw, 2rem);
  height: auto;
  border-radius: 1rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: clamp(1rem, 1.5rem, 2rem);
}

.image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  border-radius: min(1.5rem, 30px);
  display: block;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 0.5rem;
}

.section h2 {
  color: var(--Brown-800);
  margin-bottom: 0.5rem;
}

.first {
  display: flex;
  flex-direction: column;
}

.first h1 {
  margin-bottom: 1rem;
}

.preparation_time {
  width: 100%;
  background-color: var(--Rose-50);
  padding: clamp(1rem, 1.5vw, 3rem);
  border-radius: min(1.5rem, 30px);
}

.preparation_time h2 {
  color: var(--Rose-800);
}

.preparation_time ul {
  padding-left: 1.2rem;
}

.preparation_time ul li {
  list-style-position: outside;
  padding-left: 0.5rem;
  line-height: 2;
}


.ingredients ul li {
  list-style-position: inside;
  line-height: 2;
}

.instructions ol{
  padding-left: 1.3rem;
}

.instructions ol li {
  list-style-position: outside;
  padding-left: 0.8rem;
  /* align-self: center; */
  line-height: 1.5;
}

.instructions ol li::marker {
  color: var(--Brown-800);
  margin-right: 0.5rem;
  font-weight: 600;
  /* padding-right: 0.5rem; */
}

.nutrition {
  text-align: center;
}

.nutrition table {
  /* display: block; */
  overflow-x: auto;
  width: 100%;
  border-collapse: collapse;
}

.nutrition table th,td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid var(--Brown-800);
}

.value {
  color: var(--Brown-800);
  font-weight: 800;
  font-style: "Outfit", sans-serif;
}

hr {
  border: none;
  width: 100%;
  height: 1px;
  background-color: var(--Brown-800);
  border-radius: 3px;
  margin: 0.5rem 0;
}

:focus-visible {
  outline: 3px solid rgba(74, 144, 226, 0.25);
  outline-offset: 3px;
  border-radius: 6px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


@media screen and (max-width: 24.375rem) {
  body {
    background-color: var(--white-color);
    height: auto;
    padding: 0;
  }

  main {
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
  }

  .card {
    padding: 0;
    height: 100%;
    width: 100vw;

    flex: 1;
    font-size: 60%;
    border-radius: 0;

    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .preparation_time {
    font-size: 80%;
    overflow: auto;
  }

  .image img {
    border-radius: 0;
    margin-bottom: 1rem;
  }
  
}
